body{
     font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5rem;
    color: blueviolet;
   
}
p{
    font-size: 24px;
    margin-bottom: 10px;
    height: 30px;
    background-color: aqua;
    border: 2px solid rgb(47, 0, 255);
    border-style: outset;
    padding-top: 10px;
    padding-left: 10px;

}
a{
    font-size: 24px;
    color: blueviolet;
}
img {
    width: 100%;
    max-width: 1000px;
}